
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.gradle
.classpath
.settings/
.asscache
.project
.idea/
.sonar/
.DS_Store
*.iml
*.ipr
*.iws
*.swp
*.log
.sonar
build
target
/out/
node_modules
bower_components
.sass-cache
.slcache